<nav class="navbar navbar-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><img src="assets/img/dclogo.png" alt="Динаклининг - уборка с заботой"></a>
            <ul class="navbar-nav navbar-right hidden-xs">
                <li><a data-ui-sref="home" data-ui-sref-active="active">Главная</a></li>
                <li><a data-ui-sref="home.services" data-ui-sref-active="active">Услуги</a></li>
                <!--<li><a data-ui-sref="home.clean" data-ui-sref-active="active">Чистота</a></li>-->
                <!--<li><a data-ui-sref="home.advantages" data-ui-sref-active="active">Преимущества</a></li>-->
                <!--<li><a data-ui-sref="home.partners" data-ui-sref-active="active">Наши заказчики</a></li>-->
                <li><a data-ui-sref="home.review" data-ui-sref-active="active">Отзывы</a></li>
                <li><a data-ui-sref="home.zakaz" data-ui-sref-active="active">Заказать</a></li>
            </ul>
            <h3 class="main_phone">+7 (916) 449-78-26</h3>
        </div>

    </div>

</nav>
<h3 class="logolead ">{{pageData.pagehead}}</h3>

<section class="top_carousel hidden-xs">
    <!--<ui-carousel-->
            <!--slides="homeData"-->
            <!--slides-to-show="1"-->
            <!--slides-to-scroll="1"-->
            <!--initial-slide="1"-->
            <!--autoplay="true"-->
            <!--autoplay-speed="8000"-->
            <!--dots="false"-->
            <!--on-after-change="carouselSlideIn()"-->
            <!--on-before-change="carouselSlideOut()">-->

        <!--<carousel-item>-->

            <!--<div class="caruwrap" ng-style="{'background-image':'url(/assets/img/{{item.image}})'}">-->
                <!--<h2 class="caru_lead">{{ item.lead }}</h2>-->
                <!--<p class="text" ng-bind-html="item.text|nl2br"></p>-->
        <!--</carousel-item>-->
    <!--</ui-carousel>-->



    <slick settings="slickTopConfig" infinite=true slides-to-show=1 slides-to-scroll=1 ng-if="slickTopGo">
        <div ng-repeat="slide in homeData">
            <div class="caruwrap" ng-style="{'background-image':'url(/assets/img/{{slide.image}})'}">
                <div class="caru_bgr_circle">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 1000 1000" style="enable-background:new 0 0 1000 1000;" xml:space="preserve">
                        <g >
                            <circle class="the_circle" cx="500" cy="500" r="495"/>
                        </g>
                    </svg>
                </div>
                <h2 class="caru_lead"> {{ slide.lead }}</h2>
                <h2 class="caru_lead2"> {{ slide.lead2 }}</h2>
                <!--<p class="caru_text"  ng-bind-html="slide.text|nl2br"></p>-->

            </div>
        </div>
    </slick>
    <a class="carouselControl slickPrev" ng-click="slickTopConfig.method.slickPrev()"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
<style type="text/css">
	.button_x5F_left_st0{fill:none;stroke-width:3;stroke-miterlimit:10;}
    .button_x5F_left_st1{fill:none;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
</style>
<g id="button_x5F_left">
	<circle id="button_x5F_left_circle_1_" class="button_x5F_left_st0" cx="49.7" cy="50" r="46.4"/>
	<line id="button_x5F_left_line1_" class="button_x5F_left_st1" x1="38.9" y1="50" x2="61.5" y2="27.5"/>
	<line id="button_x5F_left_line2_" class="button_x5F_left_st1" x1="38.9" y1="50.5" x2="61.5" y2="73"/>
</g>
</svg></a>
    <a class="carouselControl slickNext" ng-click="slickTopConfig.method.slickNext()"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
<style type="text/css">
	.button_x5F_right_st0{fill:none;stroke-width:3;stroke-miterlimit:10;}
    .button_x5F_right_st1{fill:none;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
</style>
<g id="button_x5F_right">
	<circle id="button_x5F_right_circle_2_" class="button_x5F_right_st0" cx="49.7" cy="50" r="46.4"/>
	<line id="button_x5F_right_line1_" class="button_x5F_right_st1" x1="61.5" y1="50.5" x2="38.9" y2="73"/>
	<line id="button_x5F_right_line2_" class="button_x5F_right_st1" x1="61.5" y1="50" x2="38.9" y2="27.5"/>
</g>
</svg></a>

    <div id="callMeWrap" class="callmewrap">
        <p>Профессиональная уборка дома</p>
        <form name="callMeForm" class="form-inline" ng-submit="callMe(callMePhone)">

            <div class="row">
                <div class="col-sm-12 caru_phone">
                    <div class="form-group">
                        <input  class="form-control inp-callme" name="phone" ng-model="callMePhone.phone" placeholder="ТЕЛЕФОН" required />
                        <button id="callMeBtn" type="submit" class="btn btn-danger btn-callme">заказать обратный звонок</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>

<section class="topsection-xs hidden-md hidden-lg">
    <div id="callMeWrapXs" class="callmewrap">
        <h2>Профессиональная уборка</h2>
        <p>Закажите обратный звонок и мы Вам перезвоним</p>
        <form name="callMeForm" class="form-inline" ng-submit="callMe(callMePhone)">

            <div class="row">
                <div class="col-sm-12 caru_phone">
                    <div class="form-group">
                        <input  class="form-control inp-callme" name="phone" ng-model="callMePhone.phone" placeholder="ТЕЛЕФОН" required />
                        <button id="callMeBtnXs" type="submit" class="btn btn-danger btn-callme mt30">заказать обратный звонок</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="uslugi darkSection" id="servicesSection">
    <div class="uslugi_head">
        <h2 class="pagename">Виды работ</h2>
        <div class="topMenu">
            <div class="row">
                <div class="col-xs-3 us_menusection">
                    <a class="us_menuitem" ui-sref="home.povsednevnaya" ui-sref-active="active"><svg version="1.1" class="us_icon" id="supporting_svg"
	xmlns="http://www.w3.org/2000/svg"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	x="0px" y="0px"
	viewBox="0 0 100 100"
	style="enable-background:new 0 0 100 100;"
	xml:space="preserve">
<style type="text/css">
	.supporting_x5F_st0{fill:none;stroke-width:2;stroke-miterlimit:10;}
    .supporting_x5F_st1{fill:none;stroke-width:3;stroke-miterlimit:10;}
    .supporting_x5F_st2{fill:none;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
</style>
<g id="supporting_x5F_img">
	<polygon  class="supporting_x5F_st0" points="4.7,48 10.8,94.6 49,94.6 54.1,48 55.2,48 55.2,44 3.7,44 3.7,48 	"/>
	<circle  class="supporting_x5F_st1" cx="14" cy="57" r="1.5"/>
	<path  class="supporting_x5F_st2" d="M14,57c0,0,10.7,20.7,38.7,20.7c7.4,0-0.8-9.4-0.8-9.4"/>
	<polygon  class="supporting_x5F_st2" points="57.9,74.8 57.9,71.3 70.9,71.3 70.9,67.3 73.4,67.3 73.4,6.3 75.7,6.3 75.7,67.3
		78.2,67.3 78.2,71.3 91.2,71.3 91.2,74.8 	"/>
	<polygon  class="supporting_x5F_st2" points="57.9,74.8 54,94.6 62.9,94.6 65.1,87.9 64.5,94.6 73.9,94.6 74.5,89.9 75.2,94.6
		83.7,94.6 82.6,86.7 86.2,94.6 95.1,94.6 91.2,74.8 	"/>
	<line  class="supporting_x5F_st2" x1="4.1" y1="48" x2="54.7" y2="48"/>
</g>
                    </svg><span class="us_link">Поддерживающая уборка</span><svg version="1.1" class="triangle_svg"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px"
                            viewBox="0 0 145 145"
                            style="enable-background:new 0 0 145 145;"
                            xml:space="preserve">
                        <rect  x="22.5" y="22.5" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -30.0305 72.5)" stroke="none" fill="#30353B" width="100" height="100"/>
                    </svg></a>

                </div>
                <div class="col-xs-3 us_menusection">
                    <a class="us_menuitem" ui-sref="home.generalnaya" ui-sref-active="active"><svg version="1.1" class="us_icon" id="general_svg"
	xmlns="http://www.w3.org/2000/svg"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	x="0px" y="0px"
	viewBox="0 0 100 100"
	style="enable-background:new 0 0 100 100;"
	xml:space="preserve">
<style type="text/css">
	.general_x5F_st0{fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
</style>
<g id="general_x5F_img">
	<polygon  class="general_x5F_st0" points="22.3,78.8 21.6,84.6 40.7,95.6 41.8,89.9 	"/>
	<polygon  class="general_x5F_st0" points="30.5,74.4 22.3,78.8 41.8,89.9 50.6,85.4 	"/>
	<polygon  class="general_x5F_st0" points="48.7,91.3 40.7,95.6 41.8,89.9 50.6,85.4 	"/>
	<polygon  class="general_x5F_st0" points="13.6,92.5 13.6,85.7 21.6,87.2 21.6,94.2 	"/>
	<polygon  class="general_x5F_st0" points="34.8,92.9 21.6,94.2 21.6,87.2 25.5,86.8 35.4,92.5 	"/>
	<polygon  class="general_x5F_st0" points="21.3,84.7 13.6,85.7 21.6,87.2 25.2,86.8 	"/>
	<path  class="general_x5F_st0" d="M26.3,76.6c0,0-2.7-9.5,4.1-21.7s8.8-12.2,5.5-23c0,0,2.3-4,0.7-6.4c0,0,0.1-4.1,10.7-2.4
		c0,0,2,16.2,2.7,17.4c0,0,0.5-9.9,0-13.4c0,0,1-5.1,4.1-8.4h10.4c0,0,21.1,5.1,21.1,31.5s-4,35.8-4,35.8s-5.9,2.4-11.2,2.2
		c0,0,2.7-4.2,2.7-13.8S63.1,41,63.1,41H52.6c0,0-8,24.1-8.6,34.3c-0.2,4.1,0.1,6.5,0.1,6.5"/>
	<path  class="general_x5F_st0" d="M48,92.2c0,0,11.3,1.6,18.8,0c2.2-0.5,3.6-4,3.6-4"/>
	<path  class="general_x5F_st0" d="M47.3,28.6c0,0,5-1.8,13.3-1.3"/>
	<polyline  class="general_x5F_st0" points="56.3,27.9 56.3,32.4 53.2,32.4 53.2,38.5 62,38.5 62,32.4 59.3,32.4 59.3,27.9 	"/>
	<line  class="general_x5F_st0" x1="54.3" y1="38.8" x2="54.3" y2="40.8"/>
	<line  class="general_x5F_st0" x1="60.7" y1="38.9" x2="60.7" y2="40.7"/>
	<path  class="general_x5F_st0" d="M48.7,34.2c0.5,2,0.9,4.3,1.2,6.6c0.3,2.3,0.5,4.5,0.6,6.5"/>
	<path  class="general_x5F_st0" d="M46.9,21.7h-7.6v-3.9h1.7c0-0.7-0.1-1.4-0.3-1.9c-1.7-5.2-10-6.3-10.8-6.4V6.8l3.4-0.7H51
		L51.2,8c0,0.4-0.1,0.8-0.4,1c-0.1,0.1-0.2,0.2-0.2,0.2c-0.3,0.2-4,3.1-4.9,7.4c0,0.1,0,0.2,0,0.3c0,0.3,0,0.6,0,0.9h1.6v3.9H46.9z"
		/>
	<path  class="general_x5F_st0" d="M33.6,10.6c0,0-1.7,10-6,13.7c1.2-1,2.5-2.4,3.8-4.2c2.3-3.4,3.2-6.8,3.5-8.8"/>
	<line  class="general_x5F_st0" x1="33.3" y1="16.3" x2="38.2" y2="13.9"/>
	<line  class="general_x5F_st0" x1="40.9" y1="17.8" x2="45.7" y2="17.8"/>
	<line  class="general_x5F_st0" x1="56.3" y1="32.4" x2="59.3" y2="32.4"/>
	<path  class="general_x5F_st0" d="M54.3,18.7v-2.5c0-0.8,0.7-1.5,1.5-1.5h0v-4.5c0-0.8,0.6-1.4,1.4-1.4h4.1
		c0.8,0,1.4,0.6,1.4,1.4v4.6l0,0c0.8,0,1.5,0.7,1.5,1.5v2.5H54.3z"/>
	<line  class="general_x5F_st0" x1="55.8" y1="14.6" x2="62.7" y2="14.6"/>
	<path  class="general_x5F_st0" d="M76.1,38.8c0,0-3.4-0.5-3.3,12.6c0.1,13.1,3.8,13.3,3.8,13.3s4.7,1,4.3-14
		C80.6,37.7,76.1,38.8,76.1,38.8z"/>
</g>
                    </svg><span class="us_link">Генеральная уборка</span><svg version="1.1" class="triangle_svg"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px"
                            viewBox="0 0 145 145"
                            style="enable-background:new 0 0 145 145;"
                            xml:space="preserve">
                        <rect  x="22.5" y="22.5" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -30.0305 72.5)" stroke="none" fill="#30353B" width="100" height="100"/>
                    </svg></a>

                </div>
                <div class="col-xs-3 us_menusection">
                    <a class="us_menuitem" ui-sref="home.remont" ui-sref-active="active"><svg version="1.1" class="us_icon" id="repair_svg"
	xmlns="http://www.w3.org/2000/svg"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	x="0px" y="0px"
	viewBox="0 0 100 100"
	style="enable-background:new 0 0 100 100;"
	xml:space="preserve">
<style type="text/css">
	.repair_x5F_st0{fill:none;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
    .repair_x5F_st1{fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
</style>
<g id="repair_x5F_img">
	<polygon  class="repair_x5F_st0" points="51.9,74.8 51.9,71.3 64.9,71.3 64.9,67.3 67.4,67.3 67.4,6.3 69.7,6.3 69.7,67.3
		72.2,67.3 72.2,71.3 85.2,71.3 85.2,74.8 	"/>
	<polygon  class="repair_x5F_st0" points="51.9,74.8 48,94.6 56.9,94.6 59.1,87.9 58.5,94.6 67.9,94.6 68.5,89.9 69.2,94.6
		77.7,94.6 76.6,86.7 80.2,94.6 89.1,94.6 85.2,74.8 	"/>
	<g id="hammer_x5F_img_1_">
		<path  class="repair_x5F_st1" d="M11.3,37.5c0,0-0.8-4.3,0.1-7.3l2.5,0c0,0,1.3,1.3,5,0.4c0.9-0.2,1.5-0.7,1.5-0.7
			s7.4-0.1,8.7,0s7.4-0.2,11.5,10.8c0,0-3.6-7.4-10.2-6.2c-0.7,0.1-1.3,0.5-1.3,0.5l-1,6L21.6,41c0,0-0.2-2.8-1.5-3.8
			c-1.3-1-5.7-1-6.4,0.1L11.3,37.5z"/>
		<path  class="repair_x5F_st0" d="M13.8,30.3c0,0-0.6,3.5-0.1,6.8"/>
		<path  class="repair_x5F_st1" d="M14.4,69.7"/>
		<rect  x="22.7" y="41" class="repair_x5F_st1" width="4.3" height="53.6"/>
	</g>
</g>
                    </svg><span class="us_link">Уборка после ремонта</span><svg version="1.1" class="triangle_svg"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px"
                            viewBox="0 0 145 145"
                            style="enable-background:new 0 0 145 145;"
                            xml:space="preserve">
                        <rect  x="22.5" y="22.5" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -30.0305 72.5)" stroke="none" fill="#30353B" width="100" height="100"/>
                    </svg></a>

                </div>
                <div class="col-xs-3 us_menusection">
                    <a class="us_menuitem" ui-sref="home.windows" ui-sref-active="active"><svg version="1.1" class="us_icon" id="window_svg"
	xmlns="http://www.w3.org/2000/svg"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	x="0px" y="0px"
	viewBox="0 0 100 100"
	style="enable-background:new 0 0 100 100;"
	xml:space="preserve">
<style type="text/css">
	.window_x5F_st0{fill:none;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
    .window_x5F_st1{fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
</style>
<g id="window_x5F_img">
	<g id="window_x5F_tool">

			<rect  x="51.6" y="35.3" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 139.1174 14.4642)" class="window_x5F_st0" width="30" height="1.5"/>
		<path  class="window_x5F_st0" d="M56.6,47.7l0.2,0.2c0.1,0.1,0.3,0.1,0.5,0l21.4-21.4c0.1-0.1,0.1-0.3,0-0.5l-0.2-0.2
			c-0.1-0.1-0.3-0.1-0.5,0L56.6,47.3C56.4,47.4,56.4,47.6,56.6,47.7z"/>
		<polyline  class="window_x5F_st0" points="66.6,38.8 89.4,61.7 92.3,58.8 69.5,36 		"/>
		<path  class="window_x5F_st1" d="M41.8,6.5c0,0-2.2,14.5,4,26.2s9.1,13.8,9.1,13.8c1.4,2.1,1.4,4.7,0.1,6.7
			c-0.1,0.2-0.2,0.3-0.4,0.5c-1.7,2-4.7,2.4-6.9,1.6c-2.8-1-4.6-4-4.2-7.2c0,0-14.5-16.6-10.8-41.5H41.8z"/>
		<path  class="window_x5F_st1" d="M69.1,6.3c0,0-0.1,10.7,8.8,18.6l-0.4,3.2c0.3,0.4,0.8,1.1,1.6,1.6c2.4,1.6,5.1,0.6,5.4,0.5
			c2.6-0.9,4.4-3.6,4.4-6.4c0-3.6-2.8-6.5-5.9-7.1c-2-0.4-3.6,0.3-4.3,0.6c0,0-1.7-4.9-5.5-4.6C73.2,12.6,73.8,7.6,69.1,6.3z"/>
		<path  class="window_x5F_st1" d="M54.7,54.2c0,0,3.9,5.7,7.4,5.3c0,0,1.8,3.9,4.4,3.1c0,0,2.2-0.4,2.5-3.5c0,0,7-2.1,7.8-9.9"
			/>
		<path  class="window_x5F_st1" d="M75.5,41.8c0,0,7.1-1.3,6.2-10.9"/>
	</g>
	<rect  x="29.5" y="6.1" class="window_x5F_st1" width="65.5" height="88.5"/>
	<rect  x="5" y="6.1" class="window_x5F_st1" width="24.4" height="88.5"/>
</g>
                    </svg><span class="us_link">Мойка окон</span><svg version="1.1" class="triangle_svg"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px"
                            viewBox="0 0 145 145"
                            style="enable-background:new 0 0 145 145;"
                            xml:space="preserve">
                        <rect  x="22.5" y="22.5" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -30.0305 72.5)" stroke="none" fill="#30353B" width="100" height="100"/>
                    </svg></a>

                </div>
                <!--<div class="col-xs-3">-->
                    <!--<a ><span class="us_link">Обучение</span></a>-->
                <!--</div>-->
            </div>




        </div>
    </div>

    <div id="servicesViewContainer">
        <div id="servicesView"  ui-view="services">
            <div class="row">
                <div class=" col-sm-6 servicePadding">

                    <h1>{{allPages[3].pagehead}}</h1>
                    <div >
                        <a class="secondlink" ui-sref="home.povsednevnaya.price" ui-sref-active="active">Цены</a>
                        <a class="secondlink" ui-sref="home.povsednevnaya.vhodit" ui-sref-active="active">Что входит</a>
                    </div>

                    <p class="pagedescription" ng-bind-html="allPages[3].pagedescription|nl2br"></p>

                    <div class="row">

                        <div class="text-left mt20">
                            <a class="btn btn-primary" ui-sref="home.zakaz">Заказать</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <img class="defaultBottomImage" src="/assets/img/supporting.png" alt="Поддерживающая уборка в Москве цена">
                </div>
            </div>
        </div>

    </div>

</section>


<!--<section id="clearSection" >-->
    <!--<h2 class="lead">{{allPages[2].pagehead}}</h2>-->
    <!--<p class="text">{{allPages[2].pagedescription}}</p>-->
    <!--&lt;!&ndash;<p class="text">{{allPages[2].text}}</p>&ndash;&gt;-->
<!--</section>-->
<section id="advantagesSection" class="whiteSection" >
    <!--<h2 class="pagename">{{allPages[6].pagehead}}</h2>-->
    <!--<p class="info text-center">({{allPages[6].pagedescription}})</p>-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-right">
                <div class="textbox">
                    <h2  class="advantageName">{{advantagesData[0].name}}</h2>
                    <p  class="advantageText" ng-bind-html="advantagesData[0].description|nl2br"></p>
                </div>
            </div>
            <div class="col-sm-6 text-left">
                <div class="textbox">
                    <h2 class="advantageName">{{advantagesData[1].name}}</h2>
                    <p class="advantageText" ng-bind-html="advantagesData[1].description|nl2br"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-right">
                <div class="textbox">
                    <h2 class="advantageName">{{advantagesData[2].name}}</h2>
                    <p  class="advantageText" ng-bind-html="advantagesData[2].description|nl2br"></p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="imagebox text-center">
                    <!--<h2 >Остались вопросы?</h2>-->

                    <form name="callMeForm" class="form-inline" ng-submit="callMe(callMePhone)">
                        <div class="col-sm-12 ">
                            <div class="form-group">
                                <input  class="form-control inp-callme" name="phone" ng-model="callMePhone.phone" placeholder="ТЕЛЕФОН" required />
                                <button  type="submit" class="btn btn-danger btn-callme">заказать обратный звонок</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>




</section>
<!-- заказчики -->
<section id="partnersSection" class="darkSection" >
    <!--<h2 class="pagename">{{allPages[7].pagehead}}</h2>-->
    <div class="row">
        <div id="partnerImage" class="col-sm-8  partnerBgrImg hidden-xs" style="background-image: url(/assets/img/{{partnersData[piter].image}})">

        </div>
        <div class="col-sm-4 text-center">
            <p id="partnersInfo" class="info text-center">{{allPages[7].pagedescription}}</p>

            <h2 id="partnerName" >{{partnersData[piter].name}}</h2>
            <p id="partnerText"  ng-bind-html="partnersData[piter].description|nl2br"></p>

            <div class="text-center">
                <a  id="partnersBtn" class="btn btn-primary btn_right_arrow mt50" ng-click="goNextPartner()"><svg
                                version="1.1" id="partnersArrowSvg" class="svg_arrow"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                x="0px" y="0px"
                                width="66px" height="31px"
                                viewBox="0 0 66 31"
                                style="enable-background:new 0 0 66 31;"
                                xml:space="preserve"
                            >
<g >
    <line  fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="3" y1="15.5" x2="63" y2="15.5"/>
    <line  fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"  x1="49.1" y1="30" x2="63.1" y2="16"/>
    <line  fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"  x1="63.1" y1="15" x2="49.1" y2="1"/>
</g>
								</svg></a>
            </div>
        </div>
    </div>

</section>

<!-- отзывы -->

<section id="reviewSection" class="almostWhite">
    <!--<h2 class="pagename">{{allPages[8].pagehead}}</h2>-->
    <h2 class="pagename">{{allPages[8].pagedescription}}</h2>

    <div class="container">
        <slick settings="slickReviewConfig" infinite=true slides-to-scroll=1 ng-if="slickReviewGo">
            <div ng-repeat="slide in reviewData">
                <div class="caruwrap" >

                    <div class="textBox">
                        <p  class="reviewCleanType">{{slide.type}}</p>
                        <p  class="reviewText" ng-bind-html="slide.text|nl2br"></p>
                    </div>
                    <div class="nameBox">
                        <svg version="1.1" class="triangle_svg"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px"
                            viewBox="0 0 145 145"
                            style="enable-background:new 0 0 145 145;"
                            xml:space="preserve">
                            <rect  x="22.5" y="22.5" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -30.0305 72.5)" stroke="none" fill="#ffffff" width="100" height="100"/>
                        </svg>
                        <p class="reviewName">{{slide.name}}</p>
                        <p class="reviewNamePro">{{slide.icon}}</p>
                    </div>

                    <!--<p class="caru_text"  ng-bind-html="slide.text|nl2br"></p>-->

                </div>
            </div>
        </slick>
    </div>

    <a class="carouselControl slickPrev" ng-click="slickReviewConfig.method.slickPrev()"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
<style type="text/css">
	.button_x5F_left_st0{fill:none;stroke-width:3;stroke-miterlimit:10;}
    .button_x5F_left_st1{fill:none;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
</style>
<g id="button_x5F_left">
	<circle id="button_x5F_left_circle_1_" class="button_x5F_left_st0" cx="49.7" cy="50" r="46.4"/>
	<line id="button_x5F_left_line1_" class="button_x5F_left_st1" x1="38.9" y1="50" x2="61.5" y2="27.5"/>
	<line id="button_x5F_left_line2_" class="button_x5F_left_st1" x1="38.9" y1="50.5" x2="61.5" y2="73"/>
</g>
</svg></a>
    <a class="carouselControl slickNext" ng-click="slickReviewConfig.method.slickNext()"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
<style type="text/css">
	.button_x5F_right_st0{fill:none;stroke-width:3;stroke-miterlimit:10;}
    .button_x5F_right_st1{fill:none;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
</style>
<g id="button_x5F_right">
	<circle id="button_x5F_right_circle_2_" class="button_x5F_right_st0" cx="49.7" cy="50" r="46.4"/>
	<line id="button_x5F_right_line1_" class="button_x5F_right_st1" x1="61.5" y1="50.5" x2="38.9" y2="73"/>
	<line id="button_x5F_right_line2_" class="button_x5F_right_st1" x1="61.5" y1="50" x2="38.9" y2="27.5"/>
</g>
</svg></a>


</section>
<section id="orderSection" class="dark" >
    <h2 class="pagename">Заказать уборку</h2>
    <p class="info text-center">Для заказа или расчета стоимости уборки, заполните пожалуйста форму</p>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">


            <form name="orderForm"  ng-submit="newOrder(order)">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="work_type">Вид уборки</label>
                            <select id="work_type" class="form-control" name="work_type"  ng-model="order.work_type" ng-options="y for (x,y) in cleanTypeOptions"></select>
                           <i class="select_dropdown"><span class="glyphicon glyphicon-triangle-bottom"></span></i>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="workdate">Дата уборки</label>
                            <select id="workdate" class="form-control" name="work_type"  ng-model="order.work_date" ng-options="y for (x,y) in dateOptions"></select>
                            <i class="select_dropdown"><span class="glyphicon glyphicon-triangle-bottom"></span></i>

                            <!--<div class='input-group date' id='datetimepicker1'>-->
                                <!--&lt;!&ndash;  &ndash;&gt;-->
                                <!--<datepicker  date-format="EEEE d MMMM h:mm" datepicker-show="{{DPvisibility}}" datepicker-toggle="false">-->
                                    <!--<input ng-model="order.work_date"  class="form-control"  type="text"/>-->
                                <!--</datepicker>-->

                <!--<span class="input-group-addon" ng-click="toggleDatePicker()">-->
                    <!--<span class="glyphicon glyphicon-calendar"></span>-->
                <!--</span>-->
                            <!--</div>-->

                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="phone">Телефон</label>
                            <input id="phone" name="phone" type="text" class="form-control" ng-model="order.phone" required />
                        </div>
                    </div>
                    <!--<div class="col-sm-6">-->
                        <!--<div class="form-group">-->
                            <!--<label for="name">Как к Вам обращаться</label>-->
                            <!--<input id="name" name="name" type="text" class="form-control" ng-model="order.name" />-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="address">Адрес</label>
                            <input id="address" name="address" type="text" class="form-control" ng-model="order.address" required />
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="workplace">Вид помещения</label>
                            <select id="workplace" class="form-control" name="workplace"  ng-model="order.workplace" ng-options="y for (x,y) in workPlaceOptions"></select>
                            <i class="select_dropdown"><span class="glyphicon glyphicon-triangle-bottom"></span></i>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="area">Приблизительная площадь (м<sup>2</sup>)</label>
                            <select id="area" class="form-control" name="area"  ng-model="order.area" ng-options="y for (x,y) in areaOptions"></select>
                            <i class="select_dropdown"><span class="glyphicon glyphicon-triangle-bottom"></span></i>

                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="comment">Комментарий</label>
                            <input id="comment" name="comment" type="text" class="form-control" ng-model="order.comment" />
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-danger btn-callme mt40">отправить заказ</button>

            </form>
        </div>
    </div>

</section>
<!--<div id="backfilter" ng-click="myHideCalendar()" ng-class="backFilter"></div>-->

<!--<script type="text/javascript">-->
    <!--jQuery(document).ready(function() {-->
        <!--jQuery('.tp-banner').revolution(-->
                <!--{-->
                    <!--delay:9000,-->
                    <!--startwidth:1170,-->
                    <!--startheight:500,-->
                    <!--hideThumbs:10-->
                <!--});-->
    <!--});-->
<!--</script>-->