<h1>{{pageData.pagehead}}</h1>
<p class="pagedescription">{{pageData.pagedescription}}</p>
<!--<p>{{pageData.text}}</p>-->

<div id="servicesGeneralViewContainer">
    <div id="servicesGeneralView" ui-view="servicesGeneral">
        <img class="defaultBottomImage" src="/assets/img/general.png" alt="Генеральная уборка в Москве цены">
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <a class="secondlink" ui-sref="home.generalnaya.vhodit" ui-sref-active="active">Что входит в генеральную уборку</a>
    </div>
    <div class="col-sm-12 text-center mt10">
        <a class="secondlink" ui-sref="home.generalnaya.price" ui-sref-active="active">Цены на генеральную уборку</a>
    </div>
    <div class="col-sm-12 text-center mt20">
        <a class="btn btn-primary" ui-sref="home.zakaz">Заказать генеральную уборку</a>
    </div>
</div>





