<h1>{{pageData.pagehead}}</h1>
<p class="pagedescription" ng-bind-html="pageData.pagedescription|nl2br"></p>

<div id="servicesWindowsViewContainer">
    <div id="servicesGeneralView" ui-view="servicesGeneral">
        <img class="defaultBottomImage" src="/assets/img/windows.png" alt="Мытье окон в Москве цены">
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <a class="secondlink" ui-sref="home.windows.vhodit" ui-sref-active="active">Что входит в мойку окон</a>
    </div>
    <div class="col-sm-12 text-center mt10">
        <a class="secondlink" ui-sref="home.windows.price" ui-sref-active="active">Цены на мойку окон</a>
    </div>
    <div class="col-sm-12 text-center mt20">
        <a class="btn btn-primary" ui-sref="home.zakaz">Заказать мойку окон</a>
    </div>
</div>





