/*
blue #4ea6d3
yellow #FFD155
red #FF7B55

back #f9f8f6
grey #54575a
grey small  rgba(18,18,18,0.5)
black small #121212
yellow #ffb21a  hover #faa600

black exper #757a80

*/

@font-face {
    font-family: "HelveticaLight";
    src: url("../fonts/HelveticaLight/HelveticaLight.eot");
    src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
    url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "HelveticaThin";
    src: url("../fonts/HelveticaThin/HelveticaThin.eot");
    src: url("../fonts/HelveticaThin/HelveticaThin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaThin/HelveticaThin.woff") format("woff"),
    url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
body {
    background-color: #fff;
    /*background-color: #f9f8f6;*/
    font-size:16px;
    /*background-color: #eee;*/
    font-family: "HelveticaRegular",Helvetica,Arial,sans-serif;
}

.container {
    width: 100%;
    margin:0;
    padding: 0;
}
.row {
    margin: 0;
    /*padding: 0;*/
}
section {
    padding: 10px 0;
}
/* позиционирование */
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
.mt50{
    margin-top: 50px;
}
.mt100{
    margin-top: 100px;
}
.mt150{
    margin-top: 150px;
}

h1{
    color: #000;
}
input[type=range] {
    width: 300px;
}

ul[rn-carousel] {
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    position: relative;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    height:500px;
}
ul[rn-carousel] > li {
    color: black;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: visible;
    vertical-align: top;
    position: absolute;
    left: 0;
    right: 0;
    white-space: normal;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: inline-block;
}

/* prevent flickering when moving buffer */
ul[rn-carousel-buffered] > li {
    display: none;
}

ul[rn-carousel-transition="hexagon"] {
    overflow: visible;
}


/* prev/next controls */
.rn-carousel-control {
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    font-size: 2rem;
    position: absolute;
    top: 40%;
    opacity: 0.75;
    cursor: pointer;
}
.rn-carousel-control:hover {
    opacity: 1;
}
.rn-carousel-control.rn-carousel-control-prev {
    left: 0.5em;
}
.rn-carousel-control.rn-carousel-control-prev:before {
    content: "<";
}
.rn-carousel-control.rn-carousel-control-next {
    right: 0.5em;
}
.rn-carousel-control.rn-carousel-control-next:before {
    content: ">";
}
.top-carousel .lead {
    position: absolute;
    top:100px;
    left:50px;
    /*color: #fff;*/
    /*color: #d3d3d3;*/
    /*color: #54575a;*/
    /*color: #757a80;*/
    color: rgba(0,0,0,0.4);
    font-weight:bold;
    font-size:48px;
    line-height:1;
    /*text-shadow: 2px 2px 40px  #000;*/
    /*text-shadow: 2px 2px 20px  #fff;*/
}

.top-carousel .text {
    position: absolute;
    top:330px;
    /*left:50px;*/
    color: #fff;
    /*font-weight:bold;*/
    font-size:18px;
    line-height: 1.2;
    /*text-shadow: 2px 2px 20px  #000;*/
    background-color: rgba(0,0,0,0.2);
    border: none;
    border-radius: 0;
    /*text-shadow: 2px 2px 20px  #fff;*/
}

.top-carousel img{
    /*height: 100%;*/
    width: 100%;

}
div.rn-carousel-indicator span {
    cursor: pointer;
    /*color: rgba(0,0,0,0.4);*/
    color: #ffb21a;
    font-size: 48px;
}
div.rn-carousel-indicator span.active {
    color: #fff;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: transparent;
}
.navbar {
    margin-bottom: 10px;
}
.navbar-brand img {
    width: 113px;
    /*height: 100%;*/
}
.navbar-brand {
    padding: 0;
    position: relative;
    left:20px;
}
.navbar-top {
    height: 50px;
}
.navbar-header {
    width: 100%;
    background-color: #fff;
}
.navbar-top ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 10px;
}
.logolead {
    text-transform: uppercase;
    margin-top: 5px;
    /*margin-left: 9px;*/
    padding-left: 9px;
    margin-bottom: 0;
    font-size:10px;
    color: #4ea6d3;
    /*color: #757a80;*/
    /*color: #fff;*/
    background-color: #fff;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    /*color: rgba(18,18,18,0.5);*/
    /*text-transform: uppercase;*/
}
.navbar-nav > li > a:active,
.navbar-nav > li > a:hover {
    color: #121212;

}
.navbar-right {
    float: right !important;
    margin-right: 5px;
}
/*#servicesSection .pagename,*/
/*#advantagesSection .pagename {*/
    /*background-color: #4ea6d3;*/
    /*margin-top: -20px;*/
    /*color: #fff;*/
    /*padding: 20px;*/
/*}*/

.uslugi ul li {
    list-style-type:none;
}
.uslugi h1 {
    /*color:grey;*/
    color:rgba(0,0,0,0.2);
    text-transform: uppercase;
    /*color: #FFD155;*/
    font-size:32px;
    text-align: center;
    position: relative;
    margin:110px 0px 30px;
    font-family: HelveticaThin, sans-serif;
}
.uslugi .pagedescription {
    padding: 10px 0 50px;
}
.uslugi .info {
    color: darkgrey;
    /*font-weight:bold;*/
    text-transform: uppercase;
}
#advantagesSection .info {
    color: #d3d3d3;
    /*font-weight:bold;*/
    /*text-transform: uppercase;*/
}
.btn-primary{
    /*background-color: #4ea6d3;*/
    background-color: #ffb21a;
    /*border-color: #4ea6d3;*/
    border-color: #ffb21a;
    border-radius: 50px;
    font-size: 16px;
    line-height: 1.4;
}
.btn-primary:hover{
    background-color: #faa600;
    border-color: #ffb21a;
}

a {
    color: #4ea6d3;
}
a:hover,
a:focus {
    text-decoration: none;
}
.uslugi ul li .active, .uslugi a:active {
    color: #FFD155;
}
section {
    min-height:600px;
    position: relative;
}
.pagename {
    color: lightgray;
    text-transform: uppercase;
    text-align: center;
}
#servicesSection {

    /*height: 600px;*/
    /*background: #000;*/
    min-height: 600px;
    /*background-image: url(../img/services.jpg);*/
    /*background-position: top center;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*background-size: cover;*/
}
#servicesSection .defaultImage{
    position: absolute;
    width: 60%;
    left:20%;
    top:200px;
}
.defaultBottomImage{
    position: relative;
    margin-top:50px;
    width: 30%;
    left:35%;
    opacity:0.5;
    /*top:0px;*/
}
#servicesSection .sideMenu {
    top:90px;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    float: right;
    right: 28px;
    z-index: 100;
}
.vhoditLead {
    text-align: center;
    text-transform: uppercase;
    font-size:16px;
    color: grey;
    margin:40px 0 20px;

    /* glyphicon glyphicon-ok */

}
.vhoditItems {
    font-size:16px;
    margin-bottom: 50px;
}
.vhoditItems i {
    color: lightgrey;
    margin-right: 10px;
}
#clearSection {
    /*height: 600px;*/
    /*background: #000;*/
    min-height: 600px;
    background-image: url(../img/clean4.jpg);
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.lead {
    position: relative;
    top:100px;
    padding: 5px 50px;
    color: #fff;
    font-weight:bold;
    font-size:48px;
    line-height:1;
    font-family: HelveticaThin, sans-serif;
    /*text-shadow: 2px 2px 20px  #000;*/
    /*text-shadow: 2px 2px 20px  #fff;*/
}

.text {
    position: relative;
    top:230px;
    padding: 10px 50px;
    color: #fff;
    /*font-weight:bold;*/
    font-size:18px;
    line-height: 1.2;
    /*text-shadow: 2px 2px 20px  #000;*/

    background-color: rgba(0,0,0,0.2);
    border: none;
    border-radius: 0;
    /*text-shadow: 2px 2px 20px  #fff;*/
}
.dark{
    /*background-color: #f6f6f4;*/
    background-color: #f9f8f6;
}
.partnersImg{
    width: 80%;
    position: relative;
    z-index:0;
    margin-bottom: 20px;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    /*background-image: url(...);   !* add custom arrow *!*/
}
select::-ms-expand {
    display: none; /* hide the default arrow in ie10 and ie11 */
}
._720kb-datepicker-calendar-day._720kb-datepicker-today {
    background: #4ea6d3;
    color:white;
}
._720kb-datepicker-today {
    background: #4ea6d3;
    color:white;
}
._720kb-datepicker-calendar-day._720kb-datepicker-active {
    background: #4ea6d3;
    color:white;
}
.input-group-addon{
    cursor: pointer;
}

.menufilter , #backfilter {
    width: 100%;
    height: 100%;
    background-color: rgba(96,125,139,.8);
    position: fixed;
    top: 0px;
}
.backfilterOff,
#backfilter .backfilterOff{
    height: 0px;
    animation: backfilter_off 0.8s linear normal;
    animation-fill-mode:forwards;
}


@keyframes backfilter_off {
    0% {
        background-color: rgba(0,0,0,0.4);
        height: 100%;
    }
    90% {
        background-color: transparent;
        height: 100%;
    }
    100% {
        background-color: transparent;
        height: 0px;
    }

}
.backfilterOn,
#backfilter .backfilterOn{
    display: block;
    animation: backfilter_on 0.4s linear normal;
    animation-fill-mode:forwards;
    z-index: 5;
}


@keyframes backfilter_on {
    0% {
        background-color: transparent;
        height: 100%;

    }
    100% {

        background-color: rgba(0,0,0,0.4);
        height: 100%;
    }
}

#advantageName {
    text-transform: uppercase;
    color: rgba(0,0,0,.4);
    margin-top: 80px;
    margin-bottom: 40px;
    font-family: HelveticaThin, sans-serif;
    font-size:56px;
}
#partnerName {
    font-family: HelveticaThin, sans-serif;
}
.partnerBgrImg{
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}
/*#reviewSection .info {*/
    /*font-family: HelveticaThin, sans-serif;*/
    /*font-size:18px;*/
/*}*/
#reviewText {
    margin-top: 130px;
    font-family:"HelveticaRegular",sans-serif;
    font-size:18px;
}
#reviewName {
    margin-top: 30px;
    text-align: right;
    font-style: italic;
}

#orderSection .pagename {
    margin: 30px 0 30px;
}
#orderSection .info {
    margin: 10px 0 20px;
}